<a href="https://colab.research.google.com/github/voliveiro/python_crash_course/blob/main/Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCTIONS

Please click "File" and "Save a copy in drive" then "move".

DO NOT type in or edit this master copy of the work sheet - you will be changing the worksheet for everyone.

# Introduction

The Peanut Butter and Jelly Sandwich Challenge:https://www.youtube.com/watch?v=cDA3_5982h8

How would you describe the instructions that the dad was looking for?

# Lesson 1: Data Types

## 1a: Strings and Variables

Let's print "Hello World"!

Let's assign  "Hello World" to a variable called "message". Then let's print the message!

Now assign another string to the variable message. Print it. What do you notice?

A couple of things to note
- Apostrophes and Quote marks
- Inserting '\' after an apostrophe
- Inserting '\n' in a string

Some pointers on naming variables
- You can assign a variable any name, BUT, avoid Python's built-in functions: https://docs.python.org/3/library/functions.html
- Every key on the keyboard is a character, including the spacebar
- There is a 'Pythonic way to name variables

Concatenating Strings

You can use:
- commas
- plus signs

But they are not the same!

Print the words "Hello" and "World". First time, use a comma, second time use a plus sign.

F-Strings

In [ ]:
#newer method

In [ ]:
#older method that still works

## 1b: Integers and Floats

In [ ]:
my_num = 1
my_float = 1.0

You can change data types!

In [ ]:
my_string = str(my_num)

print(my_string)

Note that integers and strings sort differently.

In [ ]:
2 < 10000

In [ ]:
"101" < "11"

You Find Out: How would you check the data type of a variable in Python?

In [ ]:
#check the data type of my_string

ourdata = [1, "1", "1.34", "dog", "cat", 3.14159 ]

You Find Out: In Python, how would you turn a float into an integer, and a string into an integer?

**Caution**

Data types matter!

In code, 1 + 1 isn't always 2

In [ ]:
print (1+1)
print("1"+"1")

Data types affect how data sorts

Find out if 10 is less than 2, but change the data types

Note that strings sort in dictionary order

In [ ]:
# print ("ant" < "bee")
# print ("bee" < "ant")

Could be useful - finding the floor and math of a float