<a href="https://colab.research.google.com/github/voliveiro/python_crash_course/blob/main/Lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCTIONS

Please click "File" and "Save a copy in drive".

DO NOT type in or edit this master copy of the work sheet - you will be changing the worksheet for everyone.

# Lesson 3: Data Structures (Lists) and Loops!

## Lesson 3a: Lists

Lists can contain all sorts of data types!
Each item or element in a list is separated by a comma

In [1]:
#list of integers

mylist = [1,2,3,4,5]

In [2]:
#list of strings

mylist2 = ["Alice", "Bob", "Charlie"]

In [3]:
#list of floats

mylist3 = [3.14, 4.5]

In [4]:
#list of different data types

mylist4 = ["xiaoming", 3, 3.14, True]

In [5]:
#a list can be empty!
mylist5 = []

In [6]:
#you can have a list of lists!

x = [[1,2,3], ['a', 'b', 'c']]

Some quick practice - consider the list, mylist2, below. Write code so that names with an 'e' in them are added to the list, my_empty_list.

In [8]:
mylist2 = ["Alice", "Bob", "Charlie"]
my_empty_list = []

Lists are zero-indexed! This means that the index number of the first item on the list is 0.

To access an item on a list, you write the list and then the index number of the item in square brackets. Like so:
> list[i] <br>

*where i is the index number*

In [9]:
names = ["Alice", "Bob", "Charles", "Dina"]

#Let's access "Alice"

In [10]:
manylists = [[1,2,3], [3.14, 2.6], ["Alice", "Bob"]]

#How would you access "Alice" now?

In [11]:
#How would you programmatically access the last name on the list?
names = ["Alice", "Bob", "Charles", "Dina", "Edward", "Fiona", "George"]

In [12]:
#to find the index number of an item, use listname.index(item name)

#find the index number for "Bob" in the list called names

In [13]:
#Assume you don't know Bob's's index number.
#How would you access "Bob"?

names = ["Alice", "Charles", "Dina", "Edward", "Fiona", "George", "Bob", 1,3,4,5,6,7,9, 10]

How to do things to lists ...

In [ ]:
#add to a list - listname.append()

#let's add the name "Earl" to the list names

In [ ]:
#now let's add the name Fiona, but between Dina and Earl
#use listname.insert(position, item name)

In [14]:
#How would you remove the last item on the list?

names = ["Alice", "Charles", "Dina", "Edward", "Fiona", "George", "Bob"]

In [15]:
#remove a specific item in a list - listname.remove(item name)
#let's remove Alice

### Exercise 1

Practice with lists

Define a list with the following items = "Apple", "Banana", "Cherry", "Durian"

Do the following:

1. Print out "Cherry" by using the list and the "Cherry"'s index number in the list
2. Remove "Durian" using the pop method
3. Append "Orange" to the end of the list.
4. Add "Grape" as the 3rd item on the list
5. Remove "Banana" from the list using the remove method

### In-built functions

Python has in-built functions for lists -e.g. for the biggest, smallest items of the list, a sum of values, and the length of the list.

In [17]:
numbers = [5,4,1,2,3,6]

#how would you
#- add (sum) all the items in the list
# find the largest number in the list
# find the smallest number in the list

In [18]:
#Numpy is a very useful library.
#Figure out how to find the standard deviation and mean of the list

import numpy as np

### Exercise 2: Sorting lists

Create the following list: "Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune".

Find out how to:
1. Sort the list in alphabetical order
2. Sort the list in reverse alphabetical order

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

The _Very_ _Useful_ Range Function

You'll learn more about functions later. In the meantime, this is useful to know.

In [19]:
#The range function returns a sequence of numbers
#You can tell the range function when to start, when to stop, and how many steps to take

myrange = range(1,25,4)

#print(myrange) #print the object
#print(list(myrange)) #print the values

myrange = range(10)

## Lesson 3b: Tuples and Sets

In [21]:
#a list can be changed.
mynumbers=[1,2,3,4,5,1,2,3,4,5]

#a tuple is immutable -- cannot be changed.
mytuple=(1,2,3,4,5)

In [ ]:
#you can change a list into a tuple by using tuple()

mynewtuple = tuple(mynumbers)

mynewtuple

In [22]:
#
#change mynumbers into a set using set()
mynumbers=[1,2,3,4,5,1,2,3,4,5]

myset = set(mynumbers)

To learn more abouts sets and tuples:
* https://realpython.com/python-sets/#:~:text=Set%20elements%20are%20unique.,be%20of%20an%20immutable%20type.
* https://realpython.com/python-lists-tuples/

### Lesson 3c: The 'For' Loop

In [ ]:
planets=["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]


#let's loop through the list and print each planet

"pass", "continue", and "break"

In [23]:
#pass tells the code to skip

#print each planet in planets, but if there is an 's' in the planet, don't print

planets=["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
#to see the difference between pass and continue,
#print "there was a planet here" after 'pass' and 'continue'

In [24]:
#break tells the code to stop

#print each planet, but if there is an 's' in the planet, break

### Exercise 3: Print the planets, but this time, before each planet, print an index number. So your output should look something like this:

1. Mercury
2. Venus
3. Earth ..

###Exercise 4: Create a new list of planets, but the new list should only have planets that have the letter 'e' in them

In [25]:
planets=["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

newplanets = []

## Lesson 3d: List comprehensions

Used when you want to create new lists. The general way it works is:

new_list = [i for i in old_list if (some condition)]

In [26]:
#Create a new list of planets that excludes those with the letter r

### Exercise 5: Practicing List Comprehensions

Define a list of numbers from 1 to 30.
Write a list comprehension that assigns, to the new list, numbers that are divisible by 5 but not by 10.

### Homework: Prime numbers

Write a programme that prints out a list of prime numbers between 1 and 30.